<div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="25%" class="search-filters-bar">
        <mat-form-field class="full-width">
            <mat-label>Hledat...</mat-label>
            <input matInput type="text" [(ngModel)]="searchTerm">
            <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div fxFlex="75%">
        <mat-tab-group class="full-width">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="list-tab-icon">collections</mat-icon>
                    Miniatury
                </ng-template>
                    <mat-grid-list cols="4" gutterSize="20" rowHeight="20:34">
                        <mat-grid-tile *ngFor="let item of pkgDataSource.connect().value">
                            <mat-card (click)="navigatePackage(item)" class="package-card">
                                <mat-card-header>
                                    <mat-card-title>{{item.label}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image [src]="item.thumbUrl">
                                <mat-card-content>
                                    <p>
                                        {{item.desc}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="list-tab-icon">list</mat-icon>
                    Seznam
                </ng-template>

                <table mat-table [dataSource]="pkgDataSource" matSort class="full-width">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let item"> {{item.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="label">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Název </th>
                        <td mat-cell *matCellDef="let item"> {{item.label}} </td>
                    </ng-container>
                    <ng-container matColumnDef="desc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Popis </th>
                        <td mat-cell *matCellDef="let item"> {{item.desc}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row class="package-row" *matRowDef="let item; columns: displayedColumns;"
                        (click)="navigatePackage(item)"></tr>
                </table>
            </mat-tab>
        </mat-tab-group>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>