<mat-horizontal-stepper [linear]="true" *ngIf="unfinishedPackage$ | async as package">
    <mat-step label="Nahrání dat">
        <div class="mat-elevation-z1 raised-box">
            <app-add-local-upload accept="image/*" [showPreview]="true" [packageId]="package.id!"></app-add-local-upload>
        </div>
        <div class="button-row">
            <button mat-raised-button (click)="goBack()">Zrušit</button>
            <button mat-raised-button matStepperNext (click)="refreshPackage(package.id!)">Pokračovat</button>
        </div>
    </mat-step>
    <mat-step label="Metadata">
        <app-add-metadata [package]="package"></app-add-metadata>
        <div class="button-row">
            <button mat-raised-button matStepperPrevious>Zpět</button>
            <button mat-raised-button matStepperNext (click)="triggerSaveMetadata()">Pokračovat</button>
        </div>
    </mat-step>
    <mat-step label="Nastavení galerie">
        <div fxLayout="row">
            <div fxFlex="50%" class="raised-box">
                <h3>Náhled</h3>
                <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1em">
                    <div class="preview-ips" id="preview" [style.gap]="3 + '%'"
                        [style.grid-template-columns]="'repeat('+3+',1fr)'"
                        [style.background-color]="gallerySettings.backgroundColor">
                        <img [src]="image.previewUrl" *ngFor="let image of galleryItemsDataSource.data">
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start" fxFlex
                class="settings-pane mat-elevation-z2 raised-box">
                <mat-tab-group class="full-width">
                    <mat-tab label="Rozložení">
                        <div class="setting" fxLayout="row">
                            
                        </div>
                        <div class="setting" fxLayout="row">
                            <label fxFlex="80%">Styl:</label>
                            <mat-form-field>
                                <select matNativeControl [(ngModel)]="gallerySettings.layoutType">
                                    <option value="grid">Mřížka</option>
                                    <option value="list">Řádek</option>
                                </select>
                            </mat-form-field>
                        </div>

                        <div *ngIf="gallerySettings.layoutType === 'grid'">
                            <div class="setting" fxLayout="row">
                                <label fxFlex="80%">Obrázků na šířku:</label>
                                <mat-form-field fxFlex="20%">
                                    <input matInput type="number" min="1" max="10" [(ngModel)]="gallerySettings.layout!.width">
                                </mat-form-field>
                                <mat-slider min="1" max="10" thumbLabel="true" [(ngModel)]="gallerySettings.layout!.width">
                                </mat-slider>
                            </div>
                            <div class="setting" fxLayout="row">
                                <label fxFlex="80%">Obrázků na výšku:</label>
                                <mat-form-field fxFlex="20%">
                                    <input matInput type="number" min="1" max="10" [(ngModel)]="gallerySettings.layout!.height">
                                </mat-form-field>
                                <mat-slider min="1" max="10" thumbLabel="true" [(ngModel)]="gallerySettings.layout!.height">
                                </mat-slider>
                            </div>
                            <div class="setting" fxLayout="row">
                                <label fxFlex="80%">Vertikální mezera:</label>
                                <mat-form-field fxFlex="20%">
                                    <input matInput type="number" min="0" max="100" [(ngModel)]="gallerySettings.layout!.verticalSpacing">
                                </mat-form-field>
                                <mat-slider min="0" max="100" thumbLabel="true" [(ngModel)]="gallerySettings.layout!.verticalSpacing">
                                </mat-slider>
                            </div>
                            <div class="setting" fxLayout="row">
                                <label fxFlex="80%">Horizontální mezera:</label>
                                <mat-form-field fxFlex="20%">
                                    <input matInput type="number" min="0" max="100" [(ngModel)]="gallerySettings.layout!.horizontalSpacing">
                                </mat-form-field>
                                <mat-slider min="0" max="100" thumbLabel="true" [(ngModel)]="gallerySettings.layout!.horizontalSpacing">
                                </mat-slider>
                            </div>
                        </div>

                        <div *ngIf="gallerySettings.layoutType === 'list'">
                            <div class="setting" fxLayout="row">
                                <label fxFlex="80%">Počet viditelných obrázků:</label>
                                <mat-form-field fxFlex="20%">
                                    <input matInput type="number" min="1" max="10" [(ngModel)]="gallerySettings.layout!.visibleImages">
                                </mat-form-field>
                                <mat-slider min="1" max="10" thumbLabel="true" [(ngModel)]="gallerySettings.layout!.visibleImages">
                                </mat-slider>
                            </div>
                            <div class="setting" fxLayout="row">
                                <label fxFlex="80%">Mezera mezi obrázky:</label>
                                <mat-form-field fxFlex="20%">
                                    <input matInput type="number" min="0" max="100" [(ngModel)]="gallerySettings.layout!.spacing">
                                </mat-form-field>
                                <mat-slider min="0" max="100" thumbLabel="true" [(ngModel)]="gallerySettings.layout!.spacing">
                                </mat-slider>
                            </div>
                        </div>
                        <div class="setting" fxLayout="row">
                            <label fxFlex="80%">Vsazení obrázků:</label>
                            <mat-form-field fxFlex="20%">
                                <input matInput type="number" min="0" max="100" [(ngModel)]="gallerySettings.padding">
                            </mat-form-field>
                            <mat-slider min="0" max="100" thumbLabel="true" [(ngModel)]="gallerySettings.padding">
                            </mat-slider>
                        </div>
                        <div class="setting" fxLayout="row">
                            <label fxFlex="80%">Pauza mezi automat. posunem (sekundy):</label>
                            <mat-form-field fxFlex="20%">
                                <input matInput type="number" min="0.0" max="10.0" step="0.1" [(ngModel)]="gallerySettings.scrollDelay">
                            </mat-form-field>
                            <mat-slider min="0.0" max="10.0" step="0.1" thumbLabel="true" [(ngModel)]="gallerySettings.scrollDelay">
                            </mat-slider>
                        </div>
                        <div class="setting" fxLayout="row">
                            <label fxFlex="80%">Délka automat. posunu (sekundy):</label>
                            <mat-form-field fxFlex="20%">
                                <input matInput type="number" min="0.0" max="10.0" step="0.1" [(ngModel)]="gallerySettings.slideAnimationLength">
                            </mat-form-field>
                            <mat-slider min="0.0" max="10.0" step="0.1" thumbLabel="true" [(ngModel)]="gallerySettings.slideAnimationLength">
                            </mat-slider>
                        </div>
                        <div class="setting" fxLayout="row">
                            <label fxFlex="80%">Barva pozadí:</label>
                            <mat-form-field fxFlex="20%">
                                <input matInput type="color" [(ngModel)]="gallerySettings.backgroundColor">
                            </mat-form-field>
                        </div>
                        <mat-expansion-panel class="full-width">
                            <mat-expansion-panel-header>
                                Řazení a individuální nastavení obrázků
                            </mat-expansion-panel-header>
                            <mat-table [dataSource]="galleryItemsDataSource" cdkDropList
                                [cdkDropListData]="galleryItemsDataSource.data"
                                (cdkDropListDropped)="onGalleryOrderListDropped($event)">
                                <ng-container matColumnDef="preview">
                                    <mat-header-cell *matHeaderCellDef>
                                        <mat-icon>image</mat-icon>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let pic"> <img class="preview-pic" [src]="pic.previewUrl">
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="filename">
                                    <mat-header-cell *matHeaderCellDef> Název </mat-header-cell>
                                    <mat-cell *matCellDef="let pic"> {{pic.fileName}} </mat-cell>
                                </ng-container>
        
                                <mat-header-row *matHeaderRowDef="['preview', 'filename']"></mat-header-row>
                                <mat-row class="draggable"
                                    *matRowDef="let pic; columns: ['preview', 'filename'];" cdkDrag></mat-row>
                            </mat-table>
                        </mat-expansion-panel>
                    </mat-tab>
                    <mat-tab label="Ovládání">
                        <!-- TODO: redo
                        <div class="setting full-width">
                            <label>Ovádání galerie:</label>
                            <mat-form-field>
                                <select matNativeControl [(ngModel)]="gallerySettings.basicControls">
                                    <option value="grab-drag">Gesta tažení</option>
                                    <option value="swipe-gestures">Swipe gesta</option>
                                    <option value="custom">Vlastní nastavení (speciální)</option>
                                </select>
                            </mat-form-field>
                            <p *ngIf="gallerySettings.basicControls === 'grab-drag'">
                                <img src="https://picsum.photos/200/200" class="controls-preview">
                            </p>
                            <p *ngIf="gallerySettings.basicControls === 'swipe-gestures'">
                                <img src="https://picsum.photos/300/300" class="controls-preview">
                            </p>
                        </div>
                        -->
                        <div *ngIf="true"
                            class="mat-elevation-z1 raised-box-padless full-width">
                            <div class="raised-box">
                                <button mat-raised-button (click)="addCustomControl()">Přidat akci</button>
                            </div>
                            <mat-table [dataSource]="galleryCustomControls" class="full-width">
                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef> Akce </mat-header-cell>
                                    <mat-cell *matCellDef="let control">
                                        <button mat-icon-button (click)="removeCustomControl(control)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <mat-form-field>
                                            <select matNativeControl [(ngModel)]="control.action">
                                                <option value="move-left">Posunout doleva</option>
                                                <option value="move-right">Posunout doprava</option>
                                                <option value="move-up">Posunout nahoru</option>
                                                <option value="move-down">Posunout dolů</option>
                                            </select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="event">
                                    <mat-header-cell *matHeaderCellDef> Událost ovládání </mat-header-cell>
                                    <mat-cell *matCellDef="let control">
                                        <mat-form-field>
                                            <select matNativeControl [(ngModel)]="control.eventType">
                                                <option value="gesture">Gesto</option>
                                                <option value="sensor-volume">Sensor hlasitosti (dB)</option>
                                                <option value="sensor-distance">Senzor vzdálenosti (cm)</option>
                                            </select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="event-detail">
                                    <mat-header-cell *matHeaderCellDef> Detail události </mat-header-cell>
                                    <mat-cell *matCellDef="let control">
                                        <mat-form-field>
                                            <select *ngIf="control.eventType === 'gesture'" matNativeControl
                                                [(ngModel)]="control.eventParams">
                                                <option value="swipe-up">Swipe nahoru</option>
                                                <option value="swipe-down">Swipe dolů</option>
                                                <option value="swipe-left">Swipe doleva</option>
                                                <option value="swipe-right">Swipe doprava</option>
                                            </select>
                                            <div
                                                *ngIf="control.eventType === 'sensor-volume' || control.eventType === 'sensor-distance'">
                                                <mat-label>Hraniční hodnota</mat-label>
                                                <input matInput type="number" [(ngModel)]="control.eventParams">
                                            </div>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
        
                                <mat-header-row *matHeaderRowDef="['action', 'event', 'event-detail']"></mat-header-row>
                                <mat-row *matRowDef="let control; columns: ['action', 'event', 'event-detail'];"></mat-row>
                            </mat-table>
                        </div>
                        <mat-expansion-panel class="full-width">
                            <mat-expansion-panel-header>
                                Nastavení interakce obrázků
                            </mat-expansion-panel-header>
                            <mat-table [dataSource]="galleryItemsDataSource">
                                <ng-container matColumnDef="preview">
                                    <mat-header-cell *matHeaderCellDef>
                                        <mat-icon>image</mat-icon>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let pic"> <img class="preview-pic" [src]="pic.previewUrl">
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="filename">
                                    <mat-header-cell *matHeaderCellDef> Název </mat-header-cell>
                                    <mat-cell *matCellDef="let pic"> {{pic.filename}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="can-zoom">
                                    <mat-header-cell *matHeaderCellDef> Jde přiblížit </mat-header-cell>
                                    <mat-cell *matCellDef="let pic" class="checkbox-column">
                                        <mat-checkbox [(ngModel)]="pic.canZoom"></mat-checkbox>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="has-link">
                                    <mat-header-cell *matHeaderCellDef> Je odkazem </mat-header-cell>
                                    <mat-cell *matCellDef="let pic" class="checkbox-column">
                                        <mat-checkbox [(ngModel)]="pic.hasLink"></mat-checkbox>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="link">
                                    <mat-header-cell *matHeaderCellDef> Cíl odkazu </mat-header-cell>
                                    <mat-cell *matCellDef="let pic">
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="pic.link">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
        
                                <mat-header-row *matHeaderRowDef="['preview', 'filename', 'can-zoom', 'has-link', 'link']">
                                </mat-header-row>
                                <mat-row
                                    *matRowDef="let pic; columns: ['preview', 'filename', 'can-zoom', 'has-link', 'link'];">
                                </mat-row>
                            </mat-table>
                        </mat-expansion-panel>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>

        <div class="button-row">
            <button mat-raised-button matStepperPrevious>Zpět</button>
            <button mat-raised-button matStepperNext (click)="saveParametersAndInputs(package.id!)">Pokračovat</button>
        </div>
    </mat-step>
    <mat-step label="Přídavné skripty">
        <app-add-scripts></app-add-scripts>
        <div class="button-row">
            <button mat-raised-button matStepperPrevious>Zpět</button>
            <button mat-raised-button (click)="finishAddingPackage(package.id!)">Uložit balíček</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>