<mat-horizontal-stepper [linear]="true" *ngIf="unfinishedPackage$ | async as package">
    <mat-step label="Nahrání dat">
        <div class="mat-elevation-z1 raised-box">
            <app-add-local-upload accept="video/*" [showPreview]="true" [packageId]="package.id!"></app-add-local-upload>
        </div>
        <div class="button-row">
            <button mat-raised-button (click)="goBack()">Zrušit</button>
            <button mat-raised-button matStepperNext>Pokračovat</button>
        </div>
    </mat-step>
    <mat-step label="Konverze">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex="40%">
                <h3>Náhled aplikovaných nastavení</h3>
                <video [src]="previewUrl" controls="true" width="600"></video>
            </div>
            <div fxFlex="40%" class="raised-box">
                <h3>Parametry konverze</h3>
                <mat-slide-toggle [(ngModel)]="advancedConversionSettings">Pokročilé nastavení parametrů</mat-slide-toggle>
                <div fxLayout="column" *ngIf="!advancedConversionSettings">
                    <mat-form-field>
                        <mat-label>Kvalita videa</mat-label>
                        <mat-select value="2">
                            <mat-option value="2">Nejvyšší</mat-option>
                            <mat-option value="1">Vysoká (lepší poměr kvalita/velikost)</mat-option>
                            <mat-option value="0">Kompatibilní (nižší pro méně výkonná zařízení)</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Kvalita zvuku</mat-label>
                        <mat-select value="2">
                            <mat-option value="2">Nejvyšší</mat-option>
                            <mat-option value="1">Vysokoká (lepší poměr kvalita/velikost)</mat-option>
                            <mat-option value="0">Kompatibilní (nižší pro méně výkonná zařízení)</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Počet snímků za sekundu</mat-label>
                        <input matInput type="number" value="60">
                    </mat-form-field>
                    <button mat-raised-button (click)="applySimpleConversionParams()">Aplikovat nastavení</button>
                </div>
                <div fxLayout="column" *ngIf="advancedConversionSettings">
                    <mat-form-field>
                        <mat-label>Video bitrate:</mat-label>
                        <input matInput type="number" value="5000">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Audio bitrate:</mat-label>
                        <input matInput type="number" value="600">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>FPS:</mat-label>
                        <input matInput type="number" value="60">
                    </mat-form-field>
                    <h4>Video úpravy</h4>
                    <mat-form-field>
                        <mat-label>Barva</mat-label>
                        <input matInput type="color" value="#FFFFFF">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Kontrast</mat-label>
                        <input matInput type="number" value="50">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Světlost</mat-label>
                        <input matInput type="number" value="50">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Vlastní parametry pro převaděč (FFMPEG)</mat-label>
                        <input matInput type="text" value="">
                    </mat-form-field>
                    <button mat-raised-button (click)="applyAdvancedConversionParams()">Aplikovat parametry</button>
                </div>
            </div>
        </div>
        <div class="button-row">
            <button mat-raised-button matStepperPrevious>Zpět</button>
            <button mat-raised-button matStepperNext>Pokračovat</button>
        </div>
    </mat-step>
    <mat-step label="Ovládání a události videa">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex="40%">
                <h3>Náhled videa</h3>
                <video [src]="previewUrl" controls="true" width="600"></video>
            </div>
            <div fxFlex="40%" class="raised-box">
            </div>
        </div>

        <div class="button-row">
            <button mat-raised-button matStepperPrevious>Zpět</button>
            <button mat-raised-button matStepperNext>Pokračovat</button>
        </div>
    </mat-step>
    <mat-step label="Přídavné skripty">
        <app-add-scripts></app-add-scripts>
        <div class="button-row">
            <button mat-raised-button matStepperPrevious>Zpět</button>
            <button mat-raised-button matStepperNext>Pokračovat</button>
        </div>
    </mat-step>
    <mat-step label="Metadata">
        <app-add-metadata></app-add-metadata>
        <div class="button-row">
            <button mat-raised-button matStepperPrevious>Zpět</button>
            <button mat-raised-button (click)="finishAddingPackage(package.id!)">Uložit balíček</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>