<mat-horizontal-stepper [linear]="true" *ngIf="unfinishedPackage$ | async as package" (selectionChange)="stepperSelectionChange($event)">
    <mat-step label="Nahrání dat">
        <div class="mat-elevation-z1 raised-box">
            <app-add-local-upload accept="video/*" [showPreview]="true" [packageId]="package.id!">
            </app-add-local-upload>
        </div>
        <div class="button-row">
            <button mat-raised-button (click)="goBack()">Zrušit</button>
            <button mat-raised-button matStepperNext (click)="refreshPackage(package.id!)">Pokračovat</button>
        </div>
    </mat-step>
    <mat-step label="Metadata">
        <app-add-metadata [package]="package" #addMetadataComponent></app-add-metadata>
        <div class="button-row">
            <button mat-raised-button matStepperPrevious>Zpět</button>
            <button mat-raised-button matStepperNext
                (click)="triggerSaveMetadata(); applySimpleConversionParams(package);">Pokračovat</button>
        </div>
    </mat-step>
    <mat-step label="Konverze">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex="40%">
                <h3>Náhled aplikovaných nastavení</h3>
                <div class="preview-box">
                    <video *ngIf="previewUrl !== ''" [src]="previewUrl" controls="true" width="600" #conversionPreviewPlayer></video>
                    <mat-spinner *ngIf="previewUrl === ''" class="preview-box-loading"></mat-spinner>
                </div>
            </div>
            <div fxFlex="40%" class="raised-box mat-elevation-z2">
                <h3>Parametry konverze</h3>
                <mat-slide-toggle [formControl]="advancedConversionSettings">Pokročilé nastavení parametrů
                </mat-slide-toggle>
                <div fxLayout="column" *ngIf="!advancedConversionSettings.value" [formGroup]="simpleConversionFG">
                    <mat-form-field>
                        <mat-label>Kvalita videa</mat-label>
                        <select matNativeControl formControlName="videoQuality">
                            <option value="0">Nejvyšší</option>
                            <option value="1">Vysoká (lepší poměr kvalita/velikost)</option>
                            <option value="2">Kompatibilní (nižší pro méně výkonná zařízení)</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Počet snímků za sekundu</mat-label>
                        <input matInput type="number" value="60" formControlName="fps">
                    </mat-form-field>
                    <button mat-raised-button (click)="applySimpleConversionParams(package)">Aplikovat
                        nastavení</button>
                </div>
                <div fxLayout="column" *ngIf="advancedConversionSettings.value" [formGroup]="advancedConversionFG">
                    <mat-form-field>
                        <mat-label>Video bitrate:</mat-label>
                        <input matInput type="number" value="5000" min="128" max="50000" formControlName="videoBitrate">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Audio bitrate:</mat-label>
                        <input matInput type="number" value="320" max="500" min="128" formControlName="audioBitrate">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>FPS:</mat-label>
                        <input matInput type="number" value="60" formControlName="fps">
                    </mat-form-field>
                    <h4>Video úpravy</h4>
                    <mat-form-field>
                        <mat-label>Kontrast</mat-label>
                        <input matInput type="number" value="1.0" step="0.1" formControlName="contrast">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Světlost</mat-label>
                        <input matInput type="number" value="0.0" step="0.1" formControlName="brightness">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Saturace</mat-label>
                        <input matInput type="number" value="1.0" step="0.1" formControlName="saturation">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Gamma</mat-label>
                        <input matInput type="number" value="1.0" step="0.1" formControlName="gamma">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Vlastní parametry pro převaděč (FFMPEG)</mat-label>
                        <input matInput type="text" value="" formControlName="customParams">
                    </mat-form-field>
                    <button mat-raised-button (click)="applyAdvancedConversionParams(package)">Aplikovat
                        parametry</button>
                </div>
            </div>
        </div>
        <div class="button-row">
            <button mat-raised-button matStepperPrevious>Zpět</button>
            <button mat-raised-button matStepperNext>Pokračovat</button>
        </div>
    </mat-step>
    <mat-step label="Nastavení videa">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div fxFlex="40%">
                <h3>Náhled videa</h3>
                <div class="exhibit-frame" fxLayout="row" fxLayoutAlign="space-around" [style.background-color]="settingsFG.get('backgroundColor')?.valueChanges | async">
                    <video *ngIf="previewUrl !== ''" [src]="previewUrl" controls="true" width="600" #settingPreviewPlayer></video>
                    <mat-spinner *ngIf="previewUrl === ''" class="preview-box-loading"></mat-spinner>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start" fxFlex="40%"
                class="settings-pane mat-elevation-z2 raised-box">
                <mat-tab-group class="full-width">
                    <mat-tab label="Rozložení">
                        <div [formGroup]="settingsFG">
                            <div class="setting" fxLayout="row">
                                <label fxFlex="60%">Typ škálování videa:</label>
                                <mat-form-field fxFlex="40%">
                                    <select matNativeControl formControlName="aspectRatio">
                                        <option value="fitInside">Vyplnit s rámečkem</option>
                                        <option value="fitOutside">Vyplnit obraz</option>
                                        <option value="stretch">Roztáhnout (nezachová poměry stran)</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div class="setting" fxLayout="row">
                                <label fxFlex="60%">Opakovat:</label>
                                <mat-checkbox fxFlex="40%" formControlName="loop"></mat-checkbox>
                            </div>
                            <div class="setting" fxLayout="row">
                                <label fxFlex="60%">Spustit ihned:</label>
                                <mat-checkbox fxFlex="40%" formControlName="autoStart"></mat-checkbox>
                            </div>
                            <div class="setting" fxLayout="row">
                                <label fxFlex="60%">Barva pozadí:</label>
                                <mat-form-field fxFlex="40%">
                                    <input matInput type="color" formControlName="backgroundColor">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Ovládání">
                        <div class="full-width">
                            <div class="raised-box">
                                <button mat-raised-button (click)="addCustomControl()">Přidat akci</button>
                            </div>
                            <mat-table [dataSource]="videoCustomControls" class="full-width">
                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef> Akce </mat-header-cell>
                                    <mat-cell *matCellDef="let control">
                                        <button mat-icon-button (click)="removeCustomControl(control)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <mat-form-field>
                                            <select matNativeControl [(ngModel)]="control.action">
                                                <option value="move-left">Posunout doleva</option>
                                                <option value="move-right">Posunout doprava</option>
                                                <option value="move-up">Posunout nahoru</option>
                                                <option value="move-down">Posunout dolů</option>
                                            </select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="event">
                                    <mat-header-cell *matHeaderCellDef> Událost ovládání </mat-header-cell>
                                    <mat-cell *matCellDef="let control">
                                        <mat-form-field>
                                            <select matNativeControl [(ngModel)]="control.eventType">
                                                <option value="gesture">Gesto</option>
                                                <option value="sensor-volume">Sensor hlasitosti (dB)</option>
                                                <option value="sensor-distance">Senzor vzdálenosti (cm)</option>
                                            </select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="event-detail">
                                    <mat-header-cell *matHeaderCellDef> Detail události </mat-header-cell>
                                    <mat-cell *matCellDef="let control">
                                        <mat-form-field>
                                            <select *ngIf="control.eventType === 'gesture'" matNativeControl
                                                [(ngModel)]="control.eventParams">
                                                <option value="swipe-up">Swipe nahoru</option>
                                                <option value="swipe-down">Swipe dolů</option>
                                                <option value="swipe-left">Swipe doleva</option>
                                                <option value="swipe-right">Swipe doprava</option>
                                            </select>
                                            <div
                                                *ngIf="control.eventType === 'sensor-volume' || control.eventType === 'sensor-distance'">
                                                <mat-label>Hraniční hodnota</mat-label>
                                                <input matInput type="number" [(ngModel)]="control.eventParams">
                                            </div>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="['action', 'event', 'event-detail']"></mat-header-row>
                                <mat-row *matRowDef="let control; columns: ['action', 'event', 'event-detail'];">
                                </mat-row>
                            </mat-table>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>



        <div class="button-row">
            <button mat-raised-button matStepperPrevious>Zpět</button>
            <button mat-raised-button matStepperNext
                (click)="saveParametersAndInputs(package.id!, package.dataFiles![0].path!)">Pokračovat</button>
        </div>
    </mat-step>
    <mat-step label="Přídavné skripty">
        <app-add-scripts></app-add-scripts>
        <div class="button-row">
            <button mat-raised-button matStepperPrevious>Zpět</button>
            <button mat-raised-button (click)="finishAddingPackage(package.id!)">Uložit balíček</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>